body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
.App {
  display:flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.footer__line {
  display: flex;
  background-color: var(--white);
  box-shadow: 0px 2px 16px -4px rgba(58, 53, 65, 0.2);
}

.footer__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.footer__link:not(:last-child)::before {
  content: '';
  position:absolute;
  top: 8px;
  right: 0;
  height: calc(100% - 16px);
  width: 1px;
  color: var(--color);
  background-color: rgba(0,0,0, 0.1);
}

.footer__link:hover,
.footer__link:focus {
  background-color: rgba(48,172,144,0.2);
}

.footer__link--active {
  background-color: rgba(0,118,168,0.2);
}

.btn__login {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  transition: color 0.3s ease-in-out;
}

.btn__login:hover{
  color: var(--green);
}

.calendar__wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 4px;
  min-width: 300px;
  margin-bottom: -1px;
  overflow: hidden;
}

.day-slot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-price-privacy)
}

.day-slot--nounderline {
  border-bottom: 0;
}

.day-slot time{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.day-slot--today {
  color: var(--color-green);
}

.day-slot--curr {
  font-weight: 700;
}
.day-slot--selected time {
  background-color: var(--color-button);
}

.day-slot--weekend {
  opacity: 0.5;
}

.calendar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-top__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.calendar-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
}

.completed-block {
  padding-left: 20px;
  border-left:  1px solid var(--color-price-privacy);
}

.completed-items {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px
}

.completed-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  border: 1px solid var(--color-footer-line);
}

.completed-item__img {
  position: relative;
  height: 100%;

}

.completed-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.completed-item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.completed-item__name {
  margin: 0;

  font-size: 1.2rem;
  text-transform: uppercase;
}

.completed-item__date {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

@media (min-width: 800px) {
  .calendar-wrapper {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}