.programs-chooser__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 16px;
    height: 300px;
}

.programs-chooser__wrapper .program__description {
    display: none;
}

.programs-chooser {
    display: flex;
    flex-direction: column;
    gap: 16px;
}